body {
  margin: 0;
  font-family: "Mulish", Arial, sans-serif;
  background: #ECFEE8;
  color: #eee;
  line-height: 1.6;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  /* background-color: #485696; */
  background-image: radial-gradient(#6376ca, #313c69, #1e243f);
  color: rgb(226, 226, 226);
}

.hero.small {
  padding: 40px 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.tagline {
  font-size: 1.1rem;
  opacity: 0.8;
} 

section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.about, .portfolio, .contact {
  margin-bottom: 60px;
}

.audio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.audio-item {
  flex: 1 1 calc(50% - 20px);
  background: #735F3D;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* border: 1px, solid #735F3D; */
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.player {
  width: 100%;
}

.feature-player iframe {
  height: 400px;
  width: 100%;
}

.player iframe {
  height: 200px;
  width: 100%;
}

.description {
  margin-top: 10px;
  flex-grow: 1; /* makes descriptions fill space evenly */
  color: #ECFEE8
}

.about, .portfolio {
  color: black;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
}

footer a, .back {
  color: #4da3ff;
  text-decoration: none;
}

footer a:hover, .back:hover {
  text-decoration: underline;
}

ul li {
  margin-bottom: 10px;
}

@font-face {
  font-family: "Mulish";
  src: url(Mulish.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
